body {
  background-color: #d1d1d1;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3em;
  scroll-snap-type: proximity;
  scroll-snap-destination: 0 0;
  min-width: 600px;
}
a,
a:hover,
a:active,
a:link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
a:hover {
  color: #222222;
}
.page {
  display: block;
  width: 100%;
  min-height: 83.33333333333334vh;
  overflow: hidden;
  padding-top: 16.666666666666664vh;
  scroll-snap-coordinate: 0 0;
}
#banner {
  padding-top: 0;
}
#banner a,
#banner a:hover,
#banner a:active,
#banner a:link {
  color: #d1d1d1;
}
#banner a:hover {
  color: #ffffff;
}
#banner > div.cover {
  width: 100%;
  height: 16.666666666666664vh;
  min-height: calc(83.33333333333334vh - 35.66628041714948vw);
  position: relative;
  z-index: 10;
  background-color: #000000;
}
#banner > div.banner {
  width: 100%;
  height: 66.66666666666667vh;
  max-height: 35.66628041714948vw;
  overflow: hidden;
  position: relative;
}
#banner > div.banner img {
  width: 100%;
  position: relative;
  top: 66.66666666666666%;
  margin-top: -25.028968713789105vw;
}
#banner header {
  position: absolute;
  width: 100%;
  min-width: 600px;
  box-sizing: border-box;
  height: 16.666666666666664vh;
  padding-top: 3vh;
  padding-left: 5vw;
  background-color: #000000;
}
#banner header > div {
  float: left;
  font-family: 'Lobster', cursive;
  color: #d1d1d1;
}
#banner header nav {
  float: right;
  width: 45vw;
  margin-top: 1em;
}
#banner header nav li {
  float: left;
  width: 11.25vw;
  text-align: center;
}
@media (max-width: 1000px) {
  #banner header nav {
    width: 30vw;
  }
}
#banner header nav li.active {
  font-weight: bold;
}
#banner header:after {
  content: '';
  display: block;
  clear: both;
}
#banner header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 2em;
  line-height: 1.3em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.5em;
}
h4 {
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: bold;
}
.page > h2 {
  visibility: hidden;
  height: 0;
}
#dream #internetmap {
  background-image: url('/image/internetmap.png');
  width: 100%;
  height: 55.555555555555564vh;
  background-size: contain;
  position: relative;
}
#dream #internetmap > a {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1em;
  margin-right: 5vw;
  font-weight: 800;
  font-size: 0.75em;
  text-shadow: 2px 0 #d1d1d1, 0 2px #d1d1d1, -2px 0 #d1d1d1, 0 -2px #d1d1d1;
}
#dream #internetmap > img {
  visibility: hidden;
}
#dream div.text {
  padding: 1em 5vw;
  column-width: 20em;
  -webkit-column-width: 20em;
  -moz-column-width: 20em;
  column-fill: balance;
  -moz-column-fill: balance;
  -webkit-column-fill: balance;
  /* height: @pageheight / 3; */

  box-sizing: border-box;
}
#dream div.text em,
#dream div.text blockquote {
  font-family: Lobster, cursive;
  font-size: 1.1em;
  font-weight: bold;
  page-break-inside: avoid;
}
#dream div.text span.cite {
  float: right;
  font-size: 0.75em;
}
#resume > #summary {
  width: 100%;
  padding: 10vh 5vw;
  /* height: @pageheight; */

  box-sizing: border-box;
}
#resume > #summary > h3 {
  font-family: Lobster, cursive;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 5vh;
}
#resume > #summary > div {
  column-width: 20em;
  -webkit-column-width: 20em;
  -moz-column-width: 20em;
  column-gap: 5vw;
  -webkit-column-gap: 5vw;
  -moz-column-gap: 5vw;
  column-fill: balance;
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  /* height: @pageheight - 25vh; */

  box-sizing: border-box;
  padding-bottom: 2em;
}
#resume > #summary > div p {
  margin-bottom: 1em;
}
#resume > #summary > div a {
  font-style: italic;
}
#resume > #summary #resume-links {
  width: 30vw;
  float: right;
  padding-left: 5vw;
}
#resume > #summary #resume-links li {
  font-family: Lobster, cursive;
  font-size: 2em;
  margin-top: 10vh;
}
#resume > #summary #resume-links li:first-child {
  margin-top: 0;
}
#resume > #summary #resume-links a {
  font-style: normal;
  line-height: 1em;
}
#resume:after {
  content: '';
  display: block;
  clear: both;
}
#projects ul {
  padding: 1em 5vw;
  box-sizing: border-box;
  width: 100%;
}
#projects ul li {
  box-sizing: border-box;
  width: 30vw;
  padding: 2.5vw;
  float: left;
}
#projects ul li h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
#projects ul li h4:first {
  margin-top: 0;
}
#projects ul li p.affiliation {
  font-weight: bold;
  text-align: right;
  margin-bottom: 0.5em;
}
#projects ul:after {
  content: '';
  display: block;
  clear: both;
}
#story > div {
  position: relative;
}
#story > div > div {
  font-family: Lobster, cursive;
  font-size: 2em;
  margin-top: -1.5em;
  position: absolute;
  top: 41.66666666666667vh;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
}
