@color1: #000;
@color2: #fff;
@color3: #d1d1d1;
@color4: #222222;
@originalratio: 2589/972;
@imageheight: 100vh * 2/3;
@imageMaxHeight: 100vw / @originalratio * 0.95;
@toppadding: (100vh - @imageheight ) / 2;
@minTopPadding: calc(100vh - @toppadding ~"-" @imageMaxHeight );
@pageheight: 100vh - @toppadding;
@minWindowWidth: 600px;

body {
    background-color: @color3;
    font-family: 'Raleway', sans-serif;
    line-height: 1.3em;
    scroll-snap-type: proximity;
    scroll-snap-destination: 0 0;
    min-width: @minWindowWidth;
}

a, a:hover, a:active, a:link {
    text-decoration: none;
    color: @color1;
    cursor: pointer;
}

a:hover {
    color: @color4;
}

.page {
    display: block;
    width: 100%;
    min-height: 100vh - @toppadding;
    overflow: hidden;
    padding-top: @toppadding;
    scroll-snap-coordinate: 0 0;
}

#banner {
    a, a:hover, a:active, a:link {
        color: @color3;
    }

    a:hover {
        color: @color2;
    }

    padding-top: 0;

    > div.cover {
        width:100%;
        height: @toppadding;
        min-height: @minTopPadding;
        position: relative;
        z-index:10;
        background-color: @color1;
    }

    > div.banner {
        width: 100%;
        height: @imageheight;
        max-height: @imageMaxHeight;
        overflow: hidden;
        position: relative;
        
        img {
            @anchoringpoint: 2/3;
            width: 100%;
            position: relative;
            top: 100% * @anchoringpoint;
            margin-top: -100vw / @originalratio * @anchoringpoint;
        }
    }

    header {
        @headertopmargin: 3vh;
        position: absolute;
        width: 100%;
        min-width: @minWindowWidth;
        box-sizing: border-box;
        height: @toppadding;
        padding-top: @headertopmargin;
        padding-left: 5vw;
        background-color: @color1;
        > div {
            float: left;
            font-family: 'Lobster', cursive;
            color: @color3;
        }

        nav {
            float: right;
            width: 90vw / 2;
            margin-top: 1em;
            
            li {
                float: left;
                width: 90vw / 8;
                text-align: center;
            }
    
            @media(max-width: 1000px) {
                width: 30vw;
            }
            
            li.active {
                font-weight: bold;
            }
        }

    }

    header:after {
        content: '';
        display: block;
        clear: both;
    }

    header.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
    line-height: 1.3em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.5em;
}

h4 {
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: bold;
}

.page > h2 {
    visibility: hidden;
    height: 0;
}

#dream {
    #internetmap {
        background-image: url('/image/internetmap.png');
        width: 100%;
        height: @pageheight * 2 / 3;
        background-size: contain;
        position: relative;

        > a
        {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: 1em;
            margin-right: 5vw;
            font-weight: 800;
            font-size: 0.75em;
            text-shadow: 2px 0 @color3, 0 2px @color3, -2px 0 @color3, 0 -2px @color3;
        }

        > img {
            visibility: hidden;
        }
    }

    div.text {
        padding: 1em 5vw;
        column-width: 20em;
        -webkit-column-width: 20em;
        -moz-column-width: 20em;
        column-fill: balance;
        -moz-column-fill: balance;
        -webkit-column-fill: balance;
        /* height: @pageheight / 3; */
        box-sizing: border-box;
        
        em, blockquote {
            font-family: Lobster, cursive;
            font-size: 1.1em;
            font-weight: bold;
            page-break-inside: avoid;
        }
        
        span.cite {
            float: right;
            font-size: 0.75em;
        }
    }
}

#resume {
    > #summary {
        width: 100%;
        padding: 10vh 5vw;
        /* height: @pageheight; */
        box-sizing: border-box;

        > h3 {
            font-family: Lobster, cursive;
            font-size: 2em;
            line-height: 1em;
            margin-bottom: 5vh;
        }
        
        > div {
            column-width: 20em;
            -webkit-column-width: 20em;
            -moz-column-width: 20em;
            column-gap: 5vw;
            -webkit-column-gap: 5vw;
            -moz-column-gap: 5vw;
            column-fill: balance;
            -webkit-column-fill: balance;
            -moz-column-fill: balance;
            column-count: 2;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            /* height: @pageheight - 25vh; */
            box-sizing: border-box;
            padding-bottom: 2em;
            
            p {
                margin-bottom: 1em;
            }
            
            a {
                font-style: italic;
            }
        }

        #resume-links {
            width: 90vw / 3;
            float: right;
            padding-left: 5vw;

            li {
                font-family: Lobster, cursive;
                font-size: 2em;
                margin-top: 10vh;
            }
            
            li:first-child {
                margin-top: 0;
            }
            
            a {
                font-style: normal;
                line-height: 1em;
            }
        }
    }
}

#resume:after {
    content: '';
    display: block;
    clear: both;
}

#projects {
    ul {
        padding: 1em 5vw;
        box-sizing: border-box;
        width: 100%;
        
        li {
            box-sizing: border-box;
            width: 90vw / 3;
            padding: 2.5vw;
            float: left;

            h4 {
                margin-top: 1em;
                margin-bottom: 0.5em;
            }
            
            h4:first {
                margin-top: 0;
            }

            p.affiliation {
                font-weight: bold;
                text-align: right;
                margin-bottom: 0.5em;
            }
            
        }
    }
    
    ul:after {
        content: '';
        display: block;
        clear: both;
    }
}

#story {
    > div {
        position: relative;

        > div {
            font-family: Lobster, cursive;
            font-size: 2em;
            margin-top: -1.5em;
            position: absolute;
            top: @pageheight / 2;
            left: 0;
            width: 100%;
            text-align:center;
            line-height: 1.5em
        }

    }
}

